*{
background-image: url("Jogo_Piano-main/Layout.png");
background-size: cover;
background-repeat: no-repeat;
}

#botao{
    
    width: 320px;
    height: 90px;
    position: relative;
    top: 350px;
    left: 480px;
}

