html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.piano {
  display: flex;
  position: relative;
  margin-left: 4px;
}

.white-key { 
  width: 75px;
  height: 220px;
  background-color: #FFF;
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -12.9px;
  outline: none;
  cursor: pointer;
}

.white-key.active {
  background-color: #C0C0C0;
}

.black-key {
  position: absolute;
  width: 50px;
  height: 150px;
  background-image: linear-gradient(#000000, #303030);
  border: 3px solid black;
  border-radius: 0 0 2px 2px;
  outline: none;
  cursor: pointer;
}

.black-key.active {
  background-image: linear-gradient(#000000, #101010);
}

.Db4-key {
  left: 27px;
}

.Eb4-key {
  left: 89px;
}

.Gb4-key {
  left: 212px;
}

.Ab4-key {
  left: 274px;
}

.Bb4-key {
  left: 338px;
}

.Db5-key {
  left: 460px;
}

.Eb5-key {
  left: 525px;
}

#do{
  display:flex;
  margin-right: 110px;
 margin-top: 165px;
 margin-left: 15px;
}

#re{
  display: flex;
  margin-right: 110px;
  margin-top: 165px;
  margin-left: 15px;
}

#mi {
  display: flex;
  margin-right: 110px;
  margin-top: 165px;
  margin-left: 15px;
}

#fa {
  display: flex;
  margin-right: 110px;
  margin-top: 165px;
  margin-left: 15px;
}

#si {
  display: flex;
  margin-right: 110px;
  margin-top: 165px;
  margin-left: 15px;
}

#sol {
  display: flex;
  margin-right: 110px;
  margin-top: 165px;
  margin-left: 15px;
}

#la {
  display: flex;
  margin-right: 110px;
  margin-top: 165px;
  margin-left: 15px;
}

#si {
  display: flex;
  margin-right: 110px;
  margin-top: 165px;
  margin-left: 15px;
}

#do1 {
  display: flex;
  margin-right: 110px;
  margin-top: 165px;
  margin-left: 15px;
}

#re1 {
  display: flex;
  margin-right: 100px;
  margin-top: 165px;
  margin-left: 15px;
}

#mi {
  display: flex;
  margin-right: 110px;
  margin-top: 165px;
  margin-left: 15px;
}

#dosus {
  display: flex;
  color: #FFF;
  margin-right: 120px;
  margin-top: 5px;
  margin-left: 3px;
}

#resus {
  display: flex;
  color: #FFF;
  margin-right: 120px;
  margin-top: 5px;
  margin-left: 3px;
}

#fasus {
  display: flex;
  color: #FFF;
  margin-right: 0px;
  margin-top: 5px;
  margin-left: 3px;
}

#solsus {
  display: flex;
  color: #FFF;
  margin-right: 0px;
  margin-top: 5px;
  margin-left: 3px;
}

#lasus {
  display: flex;
  color: #FFF;
  margin-right: 0px;
  margin-top: 5px;
  margin-left: 3px;
}

#dosus {
  display: flex;
  color: #FFF;
  margin-right: 0px;
  margin-top: 5px;
  margin-left: 3px;
}

#resus {
  display: flex;
  color: #FFF;
  margin-right: 0px;
  margin-top: 5px;
  margin-left: 3px;
}

#do1sus {
  display: flex;
  color: #FFF;
  margin-right: 0px;
  margin-top: 5px;
  margin-left: 3px;
}

#re1sus {
  display: flex;
  color: #FFF;
  margin-right: 0px;
  margin-top: 5px;
  margin-left: 3px;
}


body{
  background-image: url("Fundo.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  }